# Pandas Exercises

## Pandas Series Basics

#### Import the 'pandas' library to load it into the computer's memory

In [2]:
import pandas as pd

C:\Users\Hp\AppData\Local\Temp\ipykernel_23548\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

#### Create the **employee_names** list

In [3]:
employee_names = ['Amy White','Jack Stewart' ,'Richard Lauderdale']
employee_names

['Amy White', 'Jack Stewart', 'Richard Lauderdale']

#### Verify the **employee_names** object is a list.

In [4]:
type(employee_names) is list

True

#### Create a pandas Series object containing the elements from the **employee_names** list. Call it **employee_names_Series**.

In [5]:
employee_names_Series = pd.Series(employee_names)
employee_names_Series

0             Amy White
1          Jack Stewart
2    Richard Lauderdale
dtype: object

#### Confirm the object is of a Series type.

In [6]:
type(employee_names_Series) is pd.Series

True

#### Now, create a Series object directly by using the following structure: **pd.Series([...])**
Let the elements of the Series object be the following numbers: 5, 8, 3, and 10. Name the object **work_experience_yrs.**

In [7]:
work_experience_yrs = pd.Series([ 5, 8, 3, 10])
work_experience_yrs

0     5
1     8
2     3
3    10
dtype: int64

#### Import the 'NumPy' module

In [8]:
import numpy as np

#### Create the **array_age** NumPy array object with these values 50, 53, 35, and 43

In [9]:
array_age = np.array([50,53,35,43])
array_age

array([50, 53, 35, 43])

#### Verify the type of the **array_age** object:

In [10]:
type(array_age)

numpy.ndarray

#### Create a Series object called **series_age** from the NumPy array object **array_age** you just created.

In [11]:
series_age = pd.Series(array_age)
series_age

0    50
1    53
2    35
3    43
dtype: int32

#### Check the type of the newly created object.

In [12]:
type(series_age)

pandas.core.series.Series

#### Display the content of **series_age**.

In [13]:
series_age

0    50
1    53
2    35
3    43
dtype: int32

==========

## Using Pandas Series Methods

#### Consider the following Series object.

In [14]:
employees_work_exp = pd.Series({
'Amy White'   : 3,
'Jack Stewart'   : 5,
'Richard Lauderdale'  : 4.5,
'Sara Johnson'  : 22,
'Patrick Adams' : 28,
'Jessica Baker'  : 14,
'Peter Hunt'   : 4,
'Daniel Lloyd'  : 6,
'John Owen'   : 1.5,
'Jennifer Phillips'  : 10,
'Courtney Rogers'   : 4.5,
'Anne Robinson'  : 2,
})

#### Use a certain method to extract the top five values from this Series.

In [15]:
employees_work_exp.head()

Amy White              3.0
Jack Stewart           5.0
Richard Lauderdale     4.5
Sara Johnson          22.0
Patrick Adams         28.0
dtype: float64

#### Use a pandas method to retrieve the last four records of the object.

In [16]:
employees_work_exp.tail(4)

John Owen             1.5
Jennifer Phillips    10.0
Courtney Rogers       4.5
Anne Robinson         2.0
dtype: float64

## Introduction to Pandas DataFrames

Create the following DataFrame in 4 different ways. (You don't need to think about assigning index values yet.)

|   	|               Name 	| Age 	| Working Experience (Yrs.) 	|
|--:	|-------------------:	|----:	|--------------------------:	|
| 0 	|          Amy White 	|  50 	|                         5 	|
| 1 	|       Jack Stewart 	|  53 	|                         8 	|
| 2 	| Richard Lauderdale 	|  35 	|                         3 	|
| 3 	|       Sara Johnson 	|  43 	|                        10 	|

#### Using a Dictionary of Lists

In [17]:
    dict = {
        'Name' : ['Amy White','Jack Stewart','Richard Lauderdale' , 'Sara Johnson' ],
        'Age' : [50, 53, 35, 43],
        'Working Experience (Yrs.)' : [5, 8 ,3 ,10]
    }
    df1 = pd.DataFrame(dict)
    df1

                 Name  Age  Working Experience (Yrs.)
0           Amy White   50                          5
1        Jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3        Sara Johnson   43                         10

#### Using a List of Dictionaries

In [18]:
lst = [
        {'Name' : 'Amy White' , 'Age': 50 ,'Working Experience (Yrs.)': 5},
        {'Name' : 'Jack Stewart' , 'Age': 53, 'Working Experience (Yrs.)': 8} ,
        {'Name' : 'Richard Lauderdale' , 'Age': 35 , 'Working Experience (Yrs.)': 3},
        {'Name' :  'Sara Johnson' , 'Age': 43 , 'Working Experience (Yrs.)': 10},
]

df2 = pd.DataFrame(lst)
df2

                 Name  Age  Working Experience (Yrs.)
0           Amy White   50                          5
1        Jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3        Sara Johnson   43                         10

#### Using a Dictionary of Series Objects

In [20]:
names = pd.Series(['Amy White' , 'Jack Stewart' ,'Richard Lauderdale' ,  'Sara Johnson'])
age = pd.Series([50, 53, 35, 43])
years_of_exp= pd.Series([5, 8 ,3 ,10])
dict_series = {
    'Name': names,
    'Age' : age,
    'Working Experience (Yrs.)': years_of_exp,
}
df3 = pd.DataFrame(dict_series)
df3

                 Name  Age  Working Experience (Yrs.)
0           Amy White   50                          5
1        Jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3        Sara Johnson   43                         10

#### Using a List of Lists

In [21]:
lst2 = [
    ['Amy White' , 'Jack Stewart' ,'Richard Lauderdale' ,  'Sara Johnson'],
    [50, 53, 35, 43],
    [5, 8 ,3 ,10]
]
df4 = pd.DataFrame(lst2,index=['Name' , 'Age' , 'Working Experience (Yrs.)'])
df4.set_index
df4

,0,1,2,3
Name,Amy White,Jack Stewart,Richard Lauderdale,Sara Johnson
Age,50,53,35,43
Working Experience (Yrs.),5,8,3,10

#### Modify the code below to add integers starting from 1 in ascending order as index values.

In [39]:
data = {
    "Name":['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'],
    "Age":[50, 53, 35, 43],
    "Working Experience (Yrs.)":[5,8,3,10]}
df = pd.DataFrame(data,index=[1,2,3,4])
df

                 Name  Age  Working Experience (Yrs.)
1           Amy White   50                          5
2        Jack Stewart   53                          8
3  Richard Lauderdale   35                          3
4        Sara Johnson   43                         10

becomes

==========

# Good Luck!