# Pyton Task

##  List task --easy level--

### 1- Write a Python program to find the length of a given list.

In [3]:
list = [1 , 2, 'a' , 'b']
sz = len(listt)
sz

4

### 2-Write a Python program to concatenate two lists.

In [5]:
list1 = [1 , 2, 'a' , 'b']
list2 = [3 , 4, 'c' , 'd']
list1 + list2

[1, 2, 'a', 'b', 3, 4, 'c', 'd']

### 3- Write a Python program to find the maximum and minimum elements in a list.

In [9]:
list1 = [3 , 2, 4 , 3]
mx = max(list1)
mn = min(list1)
print(mx)
print(mn)

4
2

### 4- Write a Python program to count the occurrences of an element in a list.

In [12]:
list1 = [3 , 2, 4 , 3]
cnt = list1.count(list1[0])
cnt

2

# -- List -- VIP Level

### 5- Write a Python program to remove duplicates from a list while preserving the original order of elements.

In [25]:
list1 = [3, 2, 4, 3]
list_unq = []
for i in list1:
    if i not in list_unq:
        list_unq.append(i)
list_unq

[3, 2, 4]

### 6- Write a Python program to find the second largest number in a list.

In [27]:
list1 = [3, 2, 4, 3]
mx1 = max(list1)
list1.remove(mx1)
mx2 = max(list1)
mx2

3

### 7- Write a Python program to find the intersection of multiple lists.

In [31]:
list1 = [1 , 2, 'a' , 'b']
list2 = [1 , 4, 'b' , 'd']
intersec = []
for i in list1:
    if i in list1:
        if i in list2:
            intersec.append(i)
intersec

[1, 'b']

### =========================================================

##  Tuple task --easy level--

### 8- Write a Python program to create a tuple with the following elements: 'apple', 'banana', 'cherry', and print the length of the tuple.

In [37]:
tup = ('apple', 'banana', 'cherry')
len(tup)

3

### 9- Write a Python program to access the second element of a tuple.

In [40]:
print(tup[1])

banana

### 10- Write a Python program to convert a tuple to a list.

In [43]:
tup_lis = []
for i in tup:
    tup_lis.append(i)
tup_lis

['apple', 'banana', 'cherry']

### 11- Write a Python program to slice a tuple.

In [45]:
tup[:2]

('apple', 'banana')

### 12- Write a Python program to check if all elements in a tuple are the same.

In [47]:
tup = (1 , 1, 1, 1, 1)
cnt = tup.count(tup[0])
if len(tup) == cnt:
    print("all the elements are the same")
else:
    print("all the elements are not the same")

all the elements are the same

### 13- Write a Python program to sort a tuple in ascending order.

In [4]:
tup2 = (4 ,2 ,1 ,9 ,3 ,3 ,0)
sorted_tup2 = sorted(tup2)
sorted_tup2

[0, 1, 2, 3, 3, 4, 9]

## Tuple VIP Level

### 14- Write a Python program to find the second smallest and second largest elements in a tuple.

In [5]:
sec_small = sorted_tup2[1]
sec_larg = sorted_tup2[5]
print(sec_small)
print(sec_larg)

1
4

### 15- Write a Python program to remove duplicates from a tuple.

In [7]:
tup2 = (4 ,2 ,1 ,9 ,3 ,3 ,0 , 4 , 0 , 9 , 1)
tup_unq = ()
for i in tup2:
    if i not in tup_unq:
        tup_unq = tup_unq + (i,)
tup_unq

(4, 2, 1, 9, 3, 0)

### 16- Write a Python program to find the product of all elements in a tuple.

In [9]:
tup2 = (4 ,2 ,1 ,9 ,3 ,3 , 4 , 9 , 1)
prod = 1
for i in tup2:
    prod *= i
prod

23328

# ===============================================

##  Set task --easy level--

### 17- Write a Python program to count the number of unique elements in a given list using a set.

In [13]:
list_1 = [1 , 2, 'a' , 'b' , 1 , 2 , 3]
list_set = set(list_1)
len(list_set)

5

### 18- Write a Python program to remove duplicate elements from a list using a set and return the updated list.

In [15]:
list_1 = [1 , 2, 'a' , 'b' , 1 , 2 , 3]
list_set = set(list_1)
list(list_set)

[1, 2, 3, 'b', 'a']

### Set VIP Level

### 19- Write a Python program to check if two sets have any common elements and return True if they do, otherwise return False.

In [23]:
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple" , "cherry"}
c = a.intersection(b)
if len(c) != 0:
     print(True)
else:
     print(False)

True

### 20- Write a Python program to find the union of multiple sets and return a new set containing all the elements from the input sets.

In [25]:
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple" , "cherry"}
c = a.union(b)
c

{'apple', 'banana', 'cherry', 'google', 'microsoft'}

# =============================================

##  Dictionary task --easy level--

### 21- Write a program that takes a dictionary as input and prints all the keys present in it.

In [27]:
dict = {'name' : 'hend' , 'age' : 30 , 'job' : 'Engineer'}
dict.keys()

dict_keys(['name', 'age', 'job'])

### 22- Write a program that checks whether a given key exists in a dictionary or not. If the key exists, print its corresponding value; otherwise, print "Key not found".

In [29]:
dict = {'name' : 'hend' , 'age' : 30 , 'job' : 'Engineer'}
if 'age' in dict:
    print(dict['age'])
else:
    print("Key not found")

30

### 23- Write a program that calculates the sum of all the values in a dictionary.

In [30]:
dict = {'a': 100, 'b':200, 'c':300} 
sum = 0
for i in dict:
    sum += dict[i]

sum

600

### 24- Write a program that finds the key with the maximum value in a dictionary.

In [31]:
dict = {'a': 100, 'b':200, 'c':300} 
mx = 0
for i in dict:
    mx = max(mx, dict[i])

mx

300

### Dictionary VIP Level

### 25- Write a program that takes a list of dictionaries as input. Each dictionary represents a student with keys "name" (string), "age" (integer), and "marks" (list of integers). The program should calculate the average marks for each student and print their names along with their average marks in descending order of average marks.

In [64]:
list_dict = [{'name' : 'hend' , 'age' : 19 , 'marks' : [99 , 80 , 96]} , 
            {'name' : 'mohamed' , 'age' : 19 , 'marks' : [96 , 55 , 94]} , 
            {'name' : 'mustafa' , 'age' : 19 , 'marks' : [85 , 67 , 80]}]
av1 = (list_dict[0]['marks'][0] + list_dict[0]['marks'][1] + list_dict[0]['marks'][2]) / 3
av2 = (list_dict[1]['marks'][0] + list_dict[1]['marks'][1] + list_dict[1]['marks'][2]) / 3
av3 = (list_dict[2]['marks'][0] + list_dict[2]['marks'][1] + list_dict[2]['marks'][2]) / 3
avr_dict = {'hend' : av1 , 'mohamed' : av2 ,'mustafa' : av3}
sort_avr = sorted(avr_dict.items(), key=lambda x: x[0])
sort_avr

[('hend', 91.66666666666667),
 ('mohamed', 81.66666666666667),
 ('mustafa', 77.33333333333333)]